.footer__column-link {
  display: inline-block;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear;
}
